<ion-header>
    <ion-navbar>
		<button ion-button icon-only (click)="closemodal()">
			<ion-icon name="close"></ion-icon>
		</button>
        <ion-title>
            {{ 'Write me !' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="sample-modal-page">
    <form (ngSubmit)="formMail()">
      <ion-item>
        <ion-label>{{ 'Subject' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="mail.subject" name="Subject"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Message' | translate }}</ion-label>
        <ion-textarea [(ngModel)]="mail.message" name="Message"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>{{ 'Send' | translate }}</button>
    </form>
</ion-content>