<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fifty-fifty</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="todo" (ngSubmit)="reponse()">
    <div class="wrapper">
      <img src="assets/images/post_it.png">
      <p><strong>Fifty-Fifty:</strong>{{ " Splits the difference." | translate }}</p>
    </div>
    <a id="Bouton"  (click)="changeImageBoutton()">
      <div id="tonDiv1">
        <img src="assets/images/FiftyFifty/SHARE1.png" alt="image1" height="70">
      </div>
      <div id="tonDiv2">
        <img src="assets/images/FiftyFifty/SHARE2.png" alt="image2" height="70">
      </div>
    </a>
    <br/>
      <ion-item>
        <ion-label>{{ 'Your Answer' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="test.essais" name="reponse" formControlName="reponse"></ion-input>
      </ion-item>
      <button ion-button type="submit" [disabled]="!todo.valid">Valider</button>
    </form>
</ion-content>
