<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tic Tac, tourne l'heure</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="wrapper">
      <img src="assets/images/post_it.png">
      <p><strong>Tic Tac, tourne l'heure:</strong>{{ " In a minute you will have to think to solve this riddle again." | translate }}</p>
    </div>
    <ion-grid id="pad1">
      <ion-row>
        <ion-col col-3><p>{{ this.tabCode[0] }}</p></ion-col>
        <ion-col col-3><p>{{ this.tabCode[1] }}</p></ion-col>
        <ion-col col-3><p>{{ this.tabCode[2] }}</p></ion-col>
        <ion-col col-3><p>{{ this.tabCode[3] }}</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid id="pad2">
      <ion-row>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(1)">1</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(2)">2</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(3)">3</button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(4)">4</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(5)">5</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(6)">6</button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(7)">7</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(8)">8</button></ion-col>
        <ion-col col-4><button ion-button color="light" block (click)="putCode(9)">9</button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12><button ion-button color="light" block (click)="putCode(0)">0</button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><button ion-button color="danger" block (click)="clearCode()">Effacer</button></ion-col>
        <ion-col col-6><button ion-button block (click)="validerCode()">Valider</button></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
