<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Murmure</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="todo" (ngSubmit)="reponse()">
    <div class="wrapper">
      <img src="assets/images/post_it.png">
      <p><strong>Murmure :</strong>{{ " To solve this riddle you have to silence those who croak in the darkness to hear the night rustles." | translate }}</p>
    </div>
    <br/>
      <ion-item>
        <ion-label>{{ 'Your Answer' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="whisper.answer" name="reponse" formControlName="reponse"></ion-input>
      </ion-item>
      <button ion-button type="submit" [disabled]="!todo.valid">Valider</button>
    </form>
</ion-content>
