<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "Contact" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card class="member">
        <img src="assets/images/contact/doctor_who.jpg" />
        <ion-card-content>
            <ion-card-title>
                Fabien Blancheton
            </ion-card-title>
            <p>
                {{ 'Developer of enigm list' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
            <p>
                <button ion-button color="primary" block (click)="openModal('blancheton.fabien@gmail.com')">{{ 'Send email' | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member">
        <img src="assets/images/contact/bigfish_begonia.jpg" />
        <ion-card-content>
            <ion-card-title>
                Alaric Quachéro
            </ion-card-title>
            <p>
                {{ 'Developer contact page' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
            <p>
                <button ion-button color="primary" block (click)="openModal('alaricquachero@gmail.com')">{{ 'Send email' | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member">
        <img src="assets/images/contact/moto_abeille.jpg" />
        <ion-card-content>
            <ion-card-title>
                Jessica Rosso
            </ion-card-title>
            <p>
                {{ 'Developer of enigms number 1, 2, 3' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
            <p>
                <button ion-button color="primary" block (click)="openModal('jessica.rosso@laposte.net')">{{ 'Send email' | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card class="member">
        <img src="assets/images/contact/pikachu.jpg" />
        <ion-card-content>
            <ion-card-title>
                Marion Benarroche
            </ion-card-title>
            <p>
                {{ 'Developer of translation system' | translate }}
            </p>
            <p>
                {{ 'The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.' | translate }}
            </p>
            <p>
                <button ion-button color="primary" block (click)="openModal('zopinou06@hotmail.fr')">{{ 'Send email' | translate }}</button>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
