page-contact {
    img {
        width: 40%;
        border-radius: 100%;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.8);
        display: initial;
    }
    .member {
        text-align: center;
    }
    .buttonSendMail {
        width: 50%;
        font-weight: bold;
    }
}
