page-home {
    #getstart {
        background-repeat: no-repeat;
        background-size:cover;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        color: white;
        position: relative;
        top: 0%;
    }
    img {
        margin-bottom: -20%;
    }
    #buttonContainer {
        text-align: center;
    }
    #buttonContainer button {
        width: 50%;
        font-weight: bold;
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.8);
    }
    .frogImg{
        position: absolute;
        bottom: 20%;
        height: 4em;
        left: 60%;
    }
}
