<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Riddles list" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let riddle of this.riddleModel.riddles" (click)="itemTapped($event, riddle)">
      Enigme {{riddle.number}} : {{riddle.name}}
    </button>
  </ion-list>
</ion-content>